@import 'reset.css';
@import 'home.css';

body {
    font-family: Lato, Arial, Helvetica, sans-serif;
}

header, footer {
    padding: 20px;
    border-bottom: 2px solid #222222;
}

footer {
    border-top: 2px solid #222222;
}

main {
    padding: 20px;
    background-color: #ebb22e;
}