.survey section {
    max-width: 600px;
    margin: auto;
    padding: 0px 20px;
}

.survey h1 {
    font-size: max(2vw, 24px);
    font-weight: 600;
    text-align: center;
    margin-bottom: 8px;
}

.survey form label input {
    margin: 4px 0px 12px 0px;
}

.survey form label input {
    display: block;
    width: 100%;
    padding: 12px 8px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.45);
}

.survey form fieldset, .survey form fieldset legend {
    margin-bottom: 8px;
}

.survey form fieldset label input {
    display: inline;
    width: unset;
    margin-right: 4px;
    box-shadow: unset;
}

.survey form fieldset label {
    margin-right: 20px;
}

.survey form input[type="range"] {
    padding: 0;
    height: 30px;
    width: unset;
    box-shadow: unset;
    width: 100%;
}

.survey nav {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.survey form button, .survey nav a {
    font-size: 14px;
    background-color: white;
    padding: 16px 0;
    text-transform: uppercase;
    width: 140px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.45);
}

@supports (display: flex) {
    .survey {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .survey section {
        width: 600px;
    }
}