[start-options] a {
    display: block;
    text-transform: uppercase;
    background-color: white;
    border-radius: 10px;
    font-weight: 800;
    text-align: center;
    padding: 5% 3%;
    max-width: 320px;
    margin: auto;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.45);
}

[start-options] a:last-of-type {
    width: 100%;
    margin: 0px auto 0px auto;
}

.home [start-options] {
    width: 100%;
}