@import 'reset.css';
@import 'home.css';
@import 'user-code.css';
@import 'about-you.css';
@import 'survey.css';

body {
    font-family: Lato, Arial, Helvetica, sans-serif;
}

header, footer {
    padding: 20px;
    border-bottom: 2px solid #222222;
}

footer {
    border-top: 2px solid #222222;
}

body > section:first-of-type {
    padding: 20px;
    background-color: #ebb22e;
}

[start-options] a:hover, [start-options] a:hover, button:hover, button:hover {
    transform: translateY(-8px);
}

button {
    background-color: white;
}