<%- include ('../components/head') %>

<main class="about-you">

    <section>
        <h1>Over jou</h1>

        <form method="post" action="/personal">
            <label>Naam<input type="text" autocomplete="off" name="name" required></label>

            <label>Leeftijd<input type="text" autocomplete="off" name="age" required></label>

            <fieldset>
                <legend>Gender</legend>
                <label><input type="radio" value="male" name="gender" required>Man</label>
                <label><input type="radio" value="female" name="gender" required>Vrouw</label>
            </fieldset>

            <label>Woonplaats<input type="text" autocomplete="off" name="place" required></label>

            <label>Telefoon<input type="tel" autocomplete="off" name="phone" required></label>

            <label>Email<input type="email" autocomplete="off" name="email" required></label>

            <label>Lievelingskleur<input type="color" autocomplete="off" name="color" required></label>

            <input type="hidden" name="userid" value=<%= userid %>>

            <!-- Navigation -->
            <nav>
                <button type="submit" value="personal">Persoonlijk</button>
            </nav>

        </form>
    </section>

    <%- include ('../components/footer') %>