<%- include ('../components/head') %>

<main>

    <h1>Hier komt de conclusie ofzo..</h1>

    <!-- Navigation -->
    <nav>
        <a href="money?userid=<%= userid %>&page=money">Terug</a>
    </nav>

    <%- include ('../components/footer') %>