<%- include ('../components/head') %>

<h1>Je persoonlijke code</h1>
<p>Wil je later verdergaan met de ingevulde gegevens? Bewaar deze code dan en vul deze bij je volgende bezoek in. </p>

<form method="post" action="/about-you">
    <input type="text" autocomplete="off" name="usercode" value="<%= usercode %>" readonly>
    <input type="submit" value="Beginnen">
</form>

<%- include ('../components/footer') %>