<%- include ('../components/head') %>

<h1>Je persoonlijke code</h1>
<p>Wil je later verdergaan met de ingevulde gegevens? Bewaar deze code dan en vul deze bij je volgende bezoek in. </p>
<p>Code placeholder</p>

<a href="/about-you">Beginnen</a>

<%- include ('../components/footer') %>