<%- include ('../components/head') %>

<section start-options>
    <a href="generate-user-code">Voeg jezelf toe aan de het vriendenboek</a>
    <a href="use-user-code">Ik heb mijzelf al toegevoegd</a>
</section>

<%- include ('../components/footer') %>