<%- include ('../components/head') %>

<div>
    <a href="generate-user-code">
        <h1>Voeg jezelf toe aan de het vriendenboek</h1>
    </a>

    <a href="use-user-code">
        <h1>Ik heb mijzelf al toegevoegd</h1>
    </a>
</div>

<%- include ('../components/footer') %>