<%- include ('../components/head') %>

<div class="home">

    <div start-options>
        <a href="generate-user-code">Voeg jezelf toe aan het vriendenboek</a>
        <a href="use-user-code">Ik heb mijzelf al toegevoegd</a>
    </div>

    <%- include ('../components/footer') %>