<%- include ('../components/head') %>

<main class="home">

    <section start-options>
        <a href="generate-user-code">Voeg jezelf toe aan het vriendenboek</a>
        <a href="use-user-code">Ik heb mijzelf al toegevoegd</a>
    </section>

    <%- include ('../components/footer') %>