<%- include ('../components/head') %>

<h1>Geld</h1>

<form>
    <label for="question_1">Ik geef mijn geld het liefst uit aan</label>
    <input id="question_1" type="text" autocomplete="off">

    <label for="question_2">Ik ben aan het sparen voor</label>
    <input id="question_2" type="text" autocomplete="off">

    <label for="question_3">Mijn eerste baantje was</label>
    <input id="question_3" type="text" autocomplete="off">

    <label for="question_4">Het duurste wat ik ooit heb gekocht</label>
    <input id="question_4" type="text" autocomplete="off">
</form>

<a href="/nutrition">Eetgewoonten</a>
<a href="/conclusion">Conclusie</a>

<%- include ('../components/footer') %>