<%- include ('../components/head') %>

<h1>Persoonlijk</h1>

<form>
    <label for="question_1">Ik lach het hardst om</label>
    <input id="question_1" type="text" autocomplete="off">

    <label for="question_2">Ik ben bang voor</label>
    <input id="question_2" type="text" autocomplete="off">

    <label for="question_3">Ik ben het gelukkigst als ik</label>
    <input id="question_3" type="text" autocomplete="off">

    <label for="question_4">Ik kan niet leven zonder</label>
    <input id="question_4" type="text" autocomplete="off">

    <label for="question_5">Stiekem denk ik nog wel eens terug aan</label>
    <input id="question_5" type="text" autocomplete="off">
</form>

<a href="/about-you">Over jou</a>
<a href="/nutrition">Eetgewoonten</a>

<%- include ('../components/footer') %>