<%- include ('../components/head') %>

<h1>Verder gaan</h1>
<p>Vul hieronder je persoonlijk code in die je eerder hebt opgeslagen. Nu kan je verder met je vriendenboek!</p>

<form method="post">
    <input type="text" autocomplete="off" placeholder="code" name="userid">
    <input type="submit" value="Verder">
</form>

<%- include ('../components/footer') %>